Repository rancher/rancher, pull requests merged in 2023-12, with the labels that each got.

#43551 Update Telemetry Client to v0.6.2
  package/Dockerfile
Labels: area/telemetry

#42650 [2.7] Expand Kubernetes Upgrade Validation Tests for Local and Imported Clusters
  tests/framework/clients/rancher/client.go
  tests/framework/clients/rancher/v1/client.go
  tests/framework/clients/rkecli/rkecli.go
  tests/framework/clients/rkecli/state.go
  tests/framework/extensions/clusters/bundledclusters/list.go
  tests/framework/extensions/clusters/bundledclusters/update.go
  tests/framework/extensions/clusters/clustermeta.go
  tests/framework/extensions/clusters/clusters.go
  tests/framework/extensions/clusters/kubernetesversions/available.go
  tests/framework/extensions/kubeapi/cluster/summary.go
  tests/framework/pkg/config/config.go
  tests/framework/pkg/config/file.go
  tests/framework/pkg/file/file.go
  tests/framework/pkg/nodes/nodes.go
  tests/v2/validation/pipeline/downstreamcleanup/main.go
  tests/v2/validation/pipeline/hapostinstall/main.go
  tests/v2/validation/pipeline/releaseupgrade/main.go
  tests/v2/validation/upgrade/config.go
  tests/v2/validation/upgrade/kubernetes.go
  tests/v2/validation/upgrade/kubernetes_test.go
  tests/v2/validation/upgrade/workload_test.go
Labels: area/automation-framework, area/automation-test

#43327 [2.8] Expand Kubernetes Upgrade Validation Tests for Local and Imported Clusters
  tests/framework/clients/rancher/client.go
  tests/framework/clients/rancher/v1/client.go
  tests/framework/clients/rkecli/rkecli.go
  tests/framework/clients/rkecli/state.go
  tests/framework/extensions/clusters/bundledclusters/list.go
  tests/framework/extensions/clusters/bundledclusters/update.go
  tests/framework/extensions/clusters/clustermeta.go
  tests/framework/extensions/clusters/clusters.go
  tests/framework/extensions/clusters/kubernetesversions/available.go
  tests/framework/extensions/kubeapi/cluster/summary.go
  tests/framework/pkg/config/config.go
  tests/framework/pkg/config/file.go
  tests/framework/pkg/file/file.go
  tests/framework/pkg/nodes/nodes.go
  tests/v2/validation/pipeline/downstreamcleanup/main.go
  tests/v2/validation/pipeline/hapostinstall/main.go
  tests/v2/validation/pipeline/releaseupgrade/main.go
  tests/v2/validation/upgrade/config.go
  tests/v2/validation/upgrade/kubernetes.go
  tests/v2/validation/upgrade/kubernetes_test.go
  tests/v2/validation/upgrade/workload_test.go
Labels: area/automation-framework, area/automation-test

#43245 Use provided CAs for oidc client connections
  pkg/auth/providers/oidc/oidc_client.go
  pkg/auth/providers/oidc/oidc_client_test.go
Labels: area/authentication
