Repository rancher/rancher, pull requests merged in 2023-05, with the labels that each got.

#41102 Invalid groupPrincipals token patch test
  tests/framework/extensions/kubeapi/tokens/patchtokens.go
  tests/v2/validation/token/token_test.go
Labels: area/automation-framework, area/automation-test

#41294 adding patchtokens to extensions/kubeapi
  tests/framework/extensions/kubeapi/tokens/patchtokens.go
Labels: area/automation-framework

#41429 Update AKS operator to v1.1.1-rc2
  go.mod
  go.sum
  pkg/apis/go.mod
  pkg/apis/go.sum
  pkg/controllers/management/aks/test/buildakscccreateobject.json
  pkg/controllers/management/aks/test/onclusterchange_active.yaml
  pkg/controllers/management/aks/test/onclusterchange_akscc_active.json
  pkg/controllers/management/aks/test/onclusterchange_akscc_create.json
  pkg/controllers/management/aks/test/onclusterchange_akscc_default.json
  pkg/controllers/management/aks/test/onclusterchange_akscc_update.json
  pkg/controllers/management/aks/test/onclusterchange_create.yaml
  pkg/controllers/management/aks/test/onclusterchange_default.yaml
  pkg/controllers/management/aks/test/onclusterchange_update.yaml
  pkg/controllers/management/aks/test/updateaksclusterconfig.json
  pkg/controllers/management/aks/test/updateaksclusterconfig.yaml
  pkg/controllers/management/aks/test/updateaksclusterconfig_updated.json
Labels: status/auto-approved

#41489 [2.7] Add defaults package for v2 tests and framework's extensions
  tests/framework/clients/k3d/k3d.go
  tests/framework/extensions/charts/charts.go
  tests/framework/extensions/charts/ranchergatekeeper.go
  tests/framework/extensions/charts/rancheristio.go
  tests/framework/extensions/charts/rancherlogging.go
  tests/framework/extensions/charts/ranchermonitoring.go
  tests/framework/extensions/clusters/clusters.go
  tests/framework/extensions/defaults/defaults.go
  tests/framework/extensions/kubeapi/namespaces/create.go
  tests/framework/extensions/kubeapi/workloads/cronjobs/create.go
  tests/framework/extensions/kubeapi/workloads/jobs/create.go
  tests/framework/extensions/namespaces/create.go
  tests/framework/extensions/users/users.go
  tests/v2/codecoverage/setuprancher/main.go
  tests/v2/integration/projects/resource_quota_test.go
  tests/v2/validation/pipeline/downstreamcleanup/main.go
  tests/v2/validation/provisioning/hosted/aks/hosted_provisioning_test.go
  tests/v2/validation/provisioning/hosted/eks/hosted_provisioning_test.go
  tests/v2/validation/provisioning/hosted/gke/hosted_provisioning_test.go
  tests/v2/validation/provisioning/k3s/custom_cluster.go
  tests/v2/validation/provisioning/k3s/post_kdm_oob_release_test.go
  tests/v2/validation/provisioning/k3s/provisioning_node_driver.go
  tests/v2/validation/provisioning/rke1/custom_cluster.go
  tests/v2/validation/provisioning/rke1/post_kdm_oob_release_test.go
  tests/v2/validation/provisioning/rke1/provisioning_node_driver.go
  tests/v2/validation/provisioning/rke2/cert_rotation_test.go
  tests/v2/validation/provisioning/rke2/custom_cluster.go
  tests/v2/validation/provisioning/rke2/post_kdm_oob_release_test.go
  tests/v2/validation/provisioning/rke2/provisioning_node_driver.go
  tests/v2/validation/registries/registry_test.go
Labels: area/automation-framework

#41491 [2.6] Add defaults package for v2 tests and framework's extensions
  tests/framework/clients/k3d/k3d.go
  tests/framework/extensions/charts/charts.go
  tests/framework/extensions/charts/ranchergatekeeper.go
  tests/framework/extensions/charts/rancheristio.go
  tests/framework/extensions/charts/rancherlogging.go
  tests/framework/extensions/charts/ranchermonitoring.go
  tests/framework/extensions/clusters/clusters.go
  tests/framework/extensions/defaults/defaults.go
  tests/framework/extensions/kubeapi/namespaces/create.go
  tests/framework/extensions/kubeapi/workloads/cronjobs/create.go
  tests/framework/extensions/kubeapi/workloads/jobs/create.go
  tests/framework/extensions/namespaces/create.go
  tests/framework/extensions/users/users.go
  tests/v2/codecoverage/setuprancher/main.go
  tests/v2/validation/pipeline/downstreamcleanup/main.go
  tests/v2/validation/provisioning/hosted/aks/hosted_provisioning_test.go
  tests/v2/validation/provisioning/hosted/eks/hosted_provisioning_test.go
  tests/v2/validation/provisioning/hosted/gke/hosted_provisioning_test.go
  tests/v2/validation/provisioning/k3s/custom_cluster.go
  tests/v2/validation/provisioning/k3s/post_kdm_oob_release_test.go
  tests/v2/validation/provisioning/k3s/provisioning_node_driver.go
  tests/v2/validation/provisioning/rke1/custom_cluster.go
  tests/v2/validation/provisioning/rke1/post_kdm_oob_release_test.go
  tests/v2/validation/provisioning/rke1/provisioning_node_driver.go
  tests/v2/validation/provisioning/rke2/cert_rotation_test.go
  tests/v2/validation/provisioning/rke2/custom_cluster.go
  tests/v2/validation/provisioning/rke2/post_kdm_oob_release_test.go
  tests/v2/validation/provisioning/rke2/provisioning_node_driver.go
  tests/v2/validation/registries/registry_test.go
Labels: area/automation-framework

#41001 Add multi-environment support for AKS
  pkg/api/norman/customization/aks/handler.go
Labels: area/api, area/aks, JIRA, team/highlander

#41629 Prepare for RC v2.7.5-rc2
  package/Dockerfile
Labels: status/auto-approved

#41633 Go generate
  pkg/client/generated/management/v3/zz_generated_aks_cluster_config_spec.go
Labels: status/auto-approved

#41604 Air gap custom clusters v2.7
  tests/framework/clients/corral/config.go
  tests/framework/clients/corral/corral.go
  tests/framework/extensions/registries/registries.go
  tests/framework/extensions/workloads/pods/pod_status.go
  tests/v2/codecoverage/rancherha/main.go
  tests/v2/validation/Dockerfile.e2e
  tests/v2/validation/Jenkinsfile.e2e
  tests/v2/validation/airgap/README.md
  tests/v2/validation/airgap/airgap.go
  tests/v2/validation/airgap/k3s_custom_cluster_test.go
  tests/v2/validation/airgap/rke1_custom_cluster.go
  tests/v2/validation/airgap/rke1_custom_cluster_test.go
  tests/v2/validation/airgap/rke2_custom_cluster_test.go
  tests/v2/validation/airgap/rke2_k3s_custom_cluster.go
  tests/v2/validation/pipeline/rancherha/corralha/config.go
  tests/v2/validation/pipeline/rancherha/main.go
  tests/v2/validation/pipeline/scripts/build_rancherha_images.sh
  tests/v2/validation/pipeline/scripts/setup_environment.sh
  tests/v2/validation/registries/registry_test.go
  tests/v2/validation/standalone/README.md
  tests/v2/validation/standalone/corral_generic_test.go
Labels: area/automation-framework, area/automation-test

#40714 feat: only delete capi cluster if owned
  pkg/controllers/provisioningv2/cluster/controller_test.go
  pkg/controllers/provisioningv2/cluster/remove.go
  pkg/generated/mocks/capi_clustercache.go
  pkg/generated/mocks/capi_clusterclient.go
  pkg/generated/mocks/clustercontroller.go
  pkg/generated/mocks/mocks.go
  pkg/generated/mocks/rke2_controlplanecache.go
Labels: kind/enhancement, [zube]: To Test, team/highlander, area/capi

#41653 Upgrade the apiserver version
  go.mod
  go.sum
Labels: status/auto-approved
