Repository rancher/rancher, pull requests merged in 2023-08, with the labels that each got.

#42277 Fix create user
  tests/v2/validation/rbac/rbac_psa_test.go
Labels: area/automation-test

#42320 [v2.7.6] update rke to v1.4.8
  go.mod
  go.sum
  pkg/apis/go.mod
  pkg/apis/go.sum
Labels: status/auto-approved

#42332 [v2.7.6] update ui tags to v2.7.6-rc2
  package/Dockerfile
Labels: status/auto-approved

#42235 Bump `github.com/aws/aws-sdk-go`
  go.mod
  go.sum
Labels: status/auto-approved

#42397 [2.7] chore(deps): update module github.com/docker/docker
  go.mod
  go.sum
Labels: status/auto-approved

#42398 [2.8] chore(deps): update module github.com/docker/docker
  go.mod
  go.sum
Labels: status/auto-approved

#42390 [v2.7] Updated flakey extensions that was causing errors in the psa rbac tests.
  tests/framework/extensions/clusters/clusters.go
  tests/framework/extensions/psact/checkpsact.go
  tests/framework/extensions/psact/createdeployment.go
  tests/v2/validation/rbac/rbac.go
  tests/v2/validation/rbac/rbac_psa_test.go
Labels: area/automation-framework, area/automation-test

#42457 [v2.8] Updated flakey extensions that was causing errors in the psa rbac tests
  tests/framework/extensions/clusters/clusters.go
  tests/framework/extensions/psact/checkpsact.go
  tests/framework/extensions/psact/createdeployment.go
  tests/v2/validation/rbac/rbac.go
  tests/v2/validation/rbac/rbac_psa_test.go
Labels: area/automation-framework, area/automation-test

#42476 Update to 2.7.6 UI tags
  package/Dockerfile
Labels: status/auto-approved

#42504 Fix istio tests in 27
  tests/v2/validation/charts/istio.go
Labels: area/automation-test

#42497 [2.8] Update configuration input check in RKE2 ACE validation tests
  tests/v2/validation/provisioning/rke2/ace_test.go
Labels: area/automation-test

#42522 [release/v2.8] go get github.com/rancher/rke v1.5.0-rc2
  go.mod
  go.sum
  pkg/apis/go.mod
  pkg/apis/go.sum
Labels: status/auto-approved

#42413 [v2.7] Add support for custom PSACT rancher-baseline in provisioning tests
  tests/framework/extensions/clusters/clusters.go
  tests/framework/extensions/provisioning/creates.go
  tests/framework/extensions/provisioning/verify.go
  tests/framework/extensions/provisioninginput/config.go
  tests/framework/extensions/psact/checkpsact.go
  tests/framework/extensions/psact/createdeployment.go
  tests/v2/validation/rbac/rbac_psa_test.go
  tests/v2/validation/upgrade/config.go
  tests/v2/validation/upgrade/kubernetes_test.go
Labels: area/automation-test

#42412 [v2.8] Add support for custom PSACT rancher-baseline in provisioning tests
  tests/framework/extensions/clusters/clusters.go
  tests/framework/extensions/provisioning/creates.go
  tests/framework/extensions/provisioning/verify.go
  tests/framework/extensions/provisioninginput/config.go
  tests/framework/extensions/psact/checkpsact.go
  tests/framework/extensions/psact/createdeployment.go
  tests/v2/validation/rbac/rbac_psa_test.go
  tests/v2/validation/upgrade/config.go
  tests/v2/validation/upgrade/kubernetes_test.go
Labels: area/automation-test
