Repository rancher/rancher, pull requests merged in 2023-10, with the labels that each got.

#42859 [v2.7] Refactor hosted provisioning tests
  tests/framework/extensions/clusters/aks/nodepools.go
  tests/framework/extensions/clusters/aks/resources/create_nodepool.go
  tests/framework/extensions/clusters/eks/nodepools.go
  tests/framework/extensions/clusters/gke/nodepools.go
  tests/framework/extensions/provisioning/creates.go
  tests/framework/extensions/provisioning/verify.go
  tests/framework/extensions/rke1/nodepools/nodepools.go
  tests/framework/extensions/scalinginput/config.go
  tests/v2/validation/nodescaling/README.md
  tests/v2/validation/nodescaling/scaling_node_driver_aks_test.go
  tests/v2/validation/nodescaling/scaling_node_driver_eks_test.go
  tests/v2/validation/nodescaling/scaling_node_driver_gke_test.go
  tests/v2/validation/nodescaling/scaling_node_driver_k3s_test.go
  tests/v2/validation/nodescaling/scaling_node_driver_rke1_test.go
  tests/v2/validation/nodescaling/scaling_node_driver_rke2_test.go
  tests/v2/validation/nodescaling/scaling_nodepools.go
  tests/v2/validation/provisioning/hosted/README.md
  tests/v2/validation/provisioning/hosted/aks/hosted_provisioning_test.go
  tests/v2/validation/provisioning/hosted/aks/scaling_nodepools.go
  tests/v2/validation/provisioning/hosted/eks/hosted_provisioning_test.go
  tests/v2/validation/provisioning/hosted/gke/hosted_provisioning_test.go
Labels: area/automation-framework, area/automation-test

#42689 Fixed Flakey Monitoring Test Backport 2.7
  tests/framework/extensions/charts/charts.go
  tests/v2/validation/charts/monitoring.go
  tests/v2/validation/charts/monitoring_test.go
  tests/v2/validation/charts/resources/alertmanagerstypes.go
Labels: area/automation-framework, area/automation-test

#42925 Fix Flakey hostname truncation test backport
  tests/v2/validation/provisioning/hostnametruncation/hostname_truncation_test.go
Labels: area/automation-framework, area/automation-test

#41061 Added jenkinsfile that accepts a list of AMIs and provisions rke1 & r…
  tests/v2/validation/Jenkinsfile_support_matrix_os
Labels: area/automation-test

#42840 Adding drainBeforeDelete field to enable the feature in provisioning tests
  tests/framework/extensions/machinepools/machinepools.go
  tests/framework/extensions/rke1/nodepools/nodepools.go
  tests/v2/validation/provisioning/k3s/README.md
  tests/v2/validation/provisioning/rke1/README.md
  tests/v2/validation/provisioning/rke2/README.md
Labels: area/automation-framework, area/automation-test

#43319 [2.8] Move the steve names test extension to the v1 test client as a method
  tests/framework/clients/rancher/v1/client.go
  tests/framework/extensions/steve/names.go
  tests/v2/validation/upgrade/workload_test.go
Labels: area/automation-framework

#42654 [2.7] Move the steve names test extension to the v1 test client as a method
  tests/framework/clients/rancher/v1/client.go
  tests/framework/extensions/steve/names.go
  tests/v2/validation/upgrade/workload_test.go
Labels: area/automation-framework
