Repository rancher/rancher, pull requests merged in 2023-06, with the labels that each got.

#41389 Add setting to skip hosted cluster chart installation
  pkg/controllers/dashboard/hostedcluster/controller.go
  pkg/settings/setting.go
Labels: feature/hosted-providers, team/highlander, kind/chore

#41560 Psa additional tests
  tests/v2/validation/rbac/rbac.go
  tests/v2/validation/rbac/rbac_psa_test.go
  tests/v2/validation/rbac/rbac_test.go
Labels: area/automation-test

#40273 [v2.7] Automate test for RKE2 Authorized Cluster Endpoints
  tests/v2/validation/provisioning/config.go
  tests/v2/validation/provisioning/rke2/ace_test.go
Labels: area/automation-test

#41755 Update build job for Go matrix certification automation
  tests/validation/tests/v3_api/scripts/pipeline/Jenkinsfile_ontag_matrix
Labels: area/automation-test

#41767 Revert 39924 (Rancher deletes Cluster API Cluster resources that it did not create)
  pkg/controllers/provisioningv2/cluster/controller_test.go
  pkg/controllers/provisioningv2/cluster/remove.go
  pkg/generated/mocks/capi_clustercache.go
  pkg/generated/mocks/capi_clusterclient.go
  pkg/generated/mocks/clustercontroller.go
  pkg/generated/mocks/mocks.go
  pkg/generated/mocks/rke2_controlplanecache.go
Labels: [zube]: Review

#41813 Update steve
  go.mod
  go.sum
Labels: status/auto-approved

#41693 Fix pod status check logic
  tests/v2/validation/provisioning/rke2/etcd_backup_restore.go
  tests/v2/validation/provisioning/rke2/etcd_backup_restore_test.go
Labels: area/automation-test

#41342 Adding rbac tests for Cluster Action : snapshot on an RKE2 cluster
  tests/framework/extensions/clusters/clusters.go
  tests/framework/extensions/etcdsnapshot/etcdsnapshot.go
  tests/v2/validation/provisioning/rke2/etcd_backup_restore.go
  tests/v2/validation/provisioning/rke2/etcd_backup_restore_test.go
  tests/v2/validation/rbac/rbac.go
  tests/v2/validation/rbac/rbac_etcd_backup_test.go
Labels: area/automation-test

#41156 Add validation test for etcd node deletion
  tests/framework/extensions/nodes/node_status.go
  tests/v2/validation/provisioning/config.go
  tests/v2/validation/provisioning/k3s/etcd_node_delete_and_replace_test.go
  tests/v2/validation/provisioning/k3s/provisioning_node_driver.go
  tests/v2/validation/provisioning/rke1/etcd_node_delete_and_replace_test.go
  tests/v2/validation/provisioning/rke2/etcd_node_delete_and_replace_test.go
  tests/v2/validation/provisioning/rke2/provisioning_node_driver.go
Labels: area/automation-framework, area/automation-test

#41829 Fix defaults package import in the test extensions
  tests/framework/extensions/clusters/clusters.go
Labels: area/automation-framework

#41671 Support for k3s and rke2 cluster types in private registries validations
  tests/framework/extensions/secrets/template.go
  tests/v2/validation/registries/registry_test.go
  tests/v2/validation/upgrade/workload_test.go
Labels: area/automation-framework, area/automation-test

#41841 Downgrade eks operator back to v1.2.0
  go.mod
  go.sum
  pkg/apis/go.mod
  pkg/apis/go.sum
Labels: status/auto-approved

#41424 refactoring custom clusters to allow multi-pool configurations -- including windows
  tests/framework/clients/ec2/config.go
  tests/framework/extensions/machinepools/machinepools.go
  tests/framework/extensions/nodes/ec2/ec2.go
  tests/framework/pkg/nodes/nodes.go
  tests/v2/validation/provisioning/config.go
  tests/v2/validation/provisioning/k3s/README.md
  tests/v2/validation/provisioning/k3s/custom_cluster.go
  tests/v2/validation/provisioning/k3s/custom_cluster_test.go
  tests/v2/validation/provisioning/nodeproviders.go
  tests/v2/validation/provisioning/rke1/README.md
  tests/v2/validation/provisioning/rke1/custom_cluster.go
  tests/v2/validation/provisioning/rke1/custom_cluster_test.go
  tests/v2/validation/provisioning/rke2/README.md
  tests/v2/validation/provisioning/rke2/custom_cluster.go
  tests/v2/validation/provisioning/rke2/custom_cluster_test.go
Labels: area/automation-framework, area/automation-test

#41779 Added a backoff wait to fix an intermittent unknown schema type error
  tests/framework/clients/rancher/v1/client.go
  tests/framework/extensions/clusters/clusters.go
Labels: area/automation-framework

#41644 Add support matrix checks for RKE1 custom clusters
  tests/framework/extensions/clusters/clusters.go
  tests/framework/extensions/rke1/componentchecks/etcdversion.go
  tests/framework/extensions/workloads/pods/pod_status.go
  tests/v2/validation/provisioning/rke1/README.md
  tests/v2/validation/provisioning/rke1/custom_cluster.go
  tests/v2/validation/provisioning/rke1/custom_cluster_test.go
Labels: area/automation-test

#41719 Add additional resource checks to upgrade testing
  tests/framework/extensions/clusters/clusters.go
  tests/framework/extensions/psact/createdeployment.go
  tests/v2/validation/provisioning/k3s/custom_cluster.go
  tests/v2/validation/provisioning/k3s/provisioning_node_driver.go
  tests/v2/validation/provisioning/rke1/custom_cluster.go
  tests/v2/validation/provisioning/rke1/provisioning_node_driver.go
  tests/v2/validation/provisioning/rke2/custom_cluster.go
  tests/v2/validation/provisioning/rke2/provisioning_node_driver.go
  tests/v2/validation/upgrade/config.go
  tests/v2/validation/upgrade/kubernetes_test.go
Labels: area/automation-test

#41918 Separated rbac and rbac additional test cases
  tests/v2/validation/rbac/rbac_additional_test.go
  tests/v2/validation/rbac/rbac_test.go
Labels: team/area1, [zube]: QA Review, area/automation-test

#41754 Adding a check in case the corral packages repo url is not set
  tests/v2/validation/Jenkinsfile.e2e
Labels: area/automation-test

#41764 add etcd backup-restore on s3
  tests/v2/validation/provisioning/config.go
  tests/v2/validation/provisioning/rke2/etcd_backup_restore.go
  tests/v2/validation/provisioning/rke2/etcd_backup_restore_test.go
Labels: area/automation-test

#41946 Update aks-operator to v1.1.2-rc2
  go.mod
  go.sum
  pkg/apis/go.mod
  pkg/apis/go.sum
Labels: status/auto-approved

#41861 [Automation] - Support for private registries test cases with no cluster level config
  tests/v2/validation/Jenkinsfile.e2e
  tests/v2/validation/registries/registry_test.go
Labels: area/automation-framework
