Repository rancher/rancher, pull requests merged in 2024-03, with the labels that each got.

#44684 [v2.9] Bump to Go 1.22
  .github/workflows/verify-generated-code-changes.yml
  Dockerfile-windows.dapper
  Dockerfile.dapper
  go.mod
  pkg/apis/go.mod
  pkg/capr/planner/store.go
  pkg/catalog/manager/catalog_common.go
  pkg/client/go.mod
  pkg/controllers/capr/planner/controller.go
  pkg/controllers/managementuser/clusterauthtoken/setting.go
  pkg/controllers/managementuser/resourcequota/resource_quota_sync.go
  pkg/controllers/managementuserlegacy/helm/common.go
  tests/README.md
  tests/v2/codecoverage/Dockerfile.buildcodecoverage
  tests/v2/codecoverage/Dockerfile.codecoverage
  tests/v2/validation/Dockerfile.e2e
  tests/v2/validation/Dockerfile.validation
Labels: kind/chore

#44230 UI plugin operator inside rancher v2.9
  go.mod
  pkg/api/steve/additionalapi.go
  pkg/api/steve/catalog/plugin.go
  pkg/apis/catalog.cattle.io/v1/plugin.go
  pkg/apis/catalog.cattle.io/v1/zz_generated_deepcopy.go
  pkg/apis/catalog.cattle.io/v1/zz_generated_list_types.go
  pkg/apis/catalog.cattle.io/v1/zz_generated_register.go
  pkg/controllers/dashboard/plugin/controller.go
  pkg/controllers/dashboard/plugin/fscache.go
  pkg/controllers/dashboard/plugin/fscache_test.go
  pkg/controllers/dashboard/plugin/index.go
  pkg/controllers/dashboard/plugin/index_test.go
  pkg/crds/names.go
  pkg/crds/yaml/generated/catalog.cattle.io_uiplugins.yaml
  pkg/data/dashboard/namespace.go
  pkg/features/feature.go
  pkg/generated/clientset/versioned/typed/catalog.cattle.io/v1/catalog.cattle.io_client.go
  pkg/generated/clientset/versioned/typed/catalog.cattle.io/v1/fake/fake_catalog.cattle.io_client.go
  pkg/generated/clientset/versioned/typed/catalog.cattle.io/v1/fake/fake_uiplugin.go
  pkg/generated/clientset/versioned/typed/catalog.cattle.io/v1/generated_expansion.go
  pkg/generated/clientset/versioned/typed/catalog.cattle.io/v1/uiplugin.go
  pkg/generated/controllers/catalog.cattle.io/v1/interface.go
  pkg/generated/controllers/catalog.cattle.io/v1/uiplugin.go
  pkg/namespace/namespace_utils.go
  pkg/rancher/rancher.go
  pkg/settings/setting.go
  tests/v2/integration/catalogv2/ui_plugin_test.go
Labels: release-note

#43753 [v2.8] adding machineConfig and test for AutoReplace RKE2/K3s
  go.mod
  go.sum
  tests/v2/validation/nodescaling/README.md
  tests/v2/validation/nodescaling/auto_replace_test.go
  tests/v2/validation/nodescaling/replace.go
  tests/v2/validation/provisioning/README.md
  tests/v2/validation/provisioning/k3s/README.md
  tests/v2/validation/provisioning/k3s/custom_cluster_test.go
  tests/v2/validation/provisioning/rke2/README.md
  tests/v2/validation/provisioning/rke2/ace_test.go
  tests/v2/validation/provisioning/rke2/agent_customization_test.go
  tests/v2/validation/provisioning/rke2/custom_cluster_test.go
Labels: status/stale

#44874 Adding helm repo to upgrade for prime checks
  tests/v2/validation/pipeline/Jenkinsfile.release.upgrade.ha
Labels: status/blocker, priority/0, area/jenkins, automation-enhancement

#44875 [2.8] Adding helm repo to upgrade for prime checks
  tests/v2/validation/pipeline/Jenkinsfile.release.upgrade.ha
Labels: status/blocker, area/jenkins, automation-enhancement

#44876 [2.7] Adding helm repo to upgrade for prime checks
  tests/v2/validation/pipeline/Jenkinsfile.release.upgrade.ha
Labels: status/blocker, area/jenkins, automation-enhancement

#44893 [2.7] Fixes for Shell automation
  tests/v2/validation/shell/README.md
  tests/v2/validation/shell/shell_test.go
Labels: area/automation-test, automation-fix

#44895 [2.9] Fixes for Shell automation
  tests/v2/validation/shell/README.md
  tests/v2/validation/shell/shell_test.go
Labels: area/automation-test, automation-fix
