Repository rancher/rancher, pull requests merged in 2024-04, with the labels that each got.

#44711 [2.9] Fix Response Body Reading in Charts Validation Tests
  go.mod
  go.sum
  tests/v2/validation/charts/gatekeeper.go
  tests/v2/validation/charts/istio.go
  tests/v2/validation/charts/monitoring.go
  tests/v2/validation/charts/webhook_test.go
Labels: area/automation-test

#44834 Updated the tests to use the modified CreateNamespace function
  go.mod
  go.sum
  tests/v2/integration/rtbs/rtbs_test.go
Labels: area/automation-test, area/shepherd, automation-enhancement

#44842 [2.8] Updated the tests to use the modified CreateNamespace function
  go.mod
  go.sum
  tests/v2/integration/rtbs/rtbs_test.go
Labels: area/automation-test, area/shepherd, automation-enhancement

#44841 [2.7] Updated the tests to use the modified CreateNamespace function
  go.mod
  go.sum
  tests/v2/integration/rtbs/rtbs_test.go
Labels: area/automation-test, area/shepherd, automation-enhancement

#44946 [v2.9] Fix flaky nodescaling test cases + specify cluster types
  go.mod
  go.sum
  tests/v2/validation/deleting/delete_cluster_rke1_test.go
  tests/v2/validation/deleting/delete_cluster_test.go
  tests/v2/validation/nodescaling/README.md
  tests/v2/validation/nodescaling/scale_replace_rke1_test.go
  tests/v2/validation/nodescaling/scale_replace_test.go
  tests/v2/validation/nodescaling/scaling_custom_cluster_rke1_test.go
  tests/v2/validation/nodescaling/scaling_node_driver_rke1_test.go
  tests/v2/validation/nodescaling/scaling_nodepools.go
  tests/v2/validation/provisioning/rke2/custom_cluster_test.go
  tests/v2/validation/snapshot/snapshot_additional_test.go
  tests/v2/validation/snapshot/snapshot_restore_k8s_upgrade_test.go
  tests/v2/validation/snapshot/snapshot_restore_test.go
  tests/v2/validation/snapshot/snapshot_restore_upgrade_strategy_test.go
Labels: area/automation-test, area/shepherd

#44894 [2.8] Fixes for Shell automation
  tests/v2/validation/shell/README.md
  tests/v2/validation/shell/shell_test.go
Labels: area/automation-test, automation-fix
